body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: dodgerblue;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.container {
  width: 550px;
  margin: 150px auto;
  padding: 100px 50px;
  border-radius: 15px;
  border: solid 5px #DDEEF0;
  background-color: white;
}

.form-check {
  position: relative;
  padding-left: 75px;
  padding-top: 10px;
}

.form-check span {
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  width: 60px;
  border: solid 1px black;
  box-shadow: 2px 2px 2px gray;
  text-align: center;
  line-height: 2.25em;
}

/*.form-check span:hover {
  background-color: lightgray;
}

.form-check input,
.checked,
.form-check input:checked ~ .unchecked { display: none; }

.form-check input:checked ~ .checked { display: block; }


.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
